<h2 class="titulo">Resumen de pedido</h2>
<table class="detail">
  <tr>
    <td class="items">Cliente:</td>
    <td class="items">Maria Paula</td>
    <td class="order"><strong>N°: 001</strong></td>
  </tr>
  <tr>
    <td class="items">Monto total: </td>
    <td class="items"> S/. 7.00</td>
  </tr>

  <br>
</table>

<table  class="products">
  <tr>
    <th>Item</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Total</th>
  </tr>
  <!-- creamos variable  let data tendra valor por cada elemento de array products -->
  <!-- ngfor recorrido de products -->
  <tr *ngFor="let data of products">
  <td>{{data.item}}</td>
  <td>{{data.product}}</td>
  <td class="counter">
    <tr>
      <!-- cada vez que escuches un click realiza la función addProducts(data.item)-->
      <td> <button (click)= "addProducts(data.item)" (click)="subtotal(data.item)" (click)="hallarTotal()" id="add" class="fas fa-plus"></button></td> 
      <td>{{data.quantity}}</td>
      <td> <button (click)="reduceProducts(data.item)" (click)="subtotal(data.item)" (click)="hallarTotal()" id="reduce" class="fas fa-minus"></button></td>
    </tr>
    </td>
  <td >{{data.total}} </td>
  <td><button  id="delete" class="fas fa-trash-alt"></button></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td class="total">S/.{{total}}</td>
  </tr> 
  <!-- <td><button (click)="deleteUser(data.id)">delete</button></td> -->

  <!-- <tr>
    <td> 01 </td>
    <td> cafe con leche</td>
  <td class="counter">
  <tr>
    <td> <button (click)= "addProducts()" id="add" class="fas fa-plus"></button></td>
    <td>  {{nQuantity}}</td>
    <td> <button (click)="reduceProducts()"id="reduce" class="fas fa-minus"></button></td>
  </tr>
  </td>
  <td class="counter">
    <tr>
      <td>S/7.00</td>
      <td><button  id="delete" class="fas fa-trash-alt"></button></td>
    </tr>
  </td>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="total">S/ 41.00</td>
    </tr> -->
</table>

<!-- La <th>Celdas de encabezado: contiene información de encabezado (creada con el <th>elemento)
    Celdas de datos: contiene datos (creados con el elemento <td> )
  La <td>etiqueta define una celda de datos estándar en una tabla HTML. columnas
  La <tr>etiqueta define una fila en una tabla HTML. -->




