<h2 class="titulo">Resumen de pedido</h2>
<!-- <table>
  <tr>
    <td>Cliente:</td>
    <td>Maria Paula</td>
    <th>N°: 001</th>
  </tr>
  <tr>
    <td>Monto total: </td>
    <td>  S/. 41.00</td>
  </tr>

  <br>
</table> -->
<div class="resumen">
<table>
  <tr>
    <th>Item</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Total</th>
  </tr>
  <tr>
    <td> 01 </td>
    <td> cafe con leche</td> 
    <td> <button id="add" class="fas fa-plus"></button> 1 <button id="reduce"class="button"><i class="fas fa-minus"></i></button></td>
    <td> S/.  7.00 <button id="delete" class="fas fa-trash-alt"></button></td>
  </tr>

  <!-- <td> <button id="add-buton" class="fas fa-plus"></button> </td>
      <td>1 <td>
        <button id="reduce"class="button"><i class="fas fa-minus"></i></button></td>
    <td> S/.  7.00 </td>
      <button id="delete" class="fas fa-trash-alt"></button></td> -->

  <!-- <tr>3
    <td></td>
    <td></td>
    <td> </td>
    <td> S/. 41.00</td>
  </tr>
  <br> -->
</table>
</div>